.cart-cont {
    width: 100%;
    background: rgba(21, 58, 91, 0.32);
    backdrop-filter: blur(4px);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 1002;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    transition: 0.5s all ease-in 0ms;

}

.cart-head-t {
    font-family: Bold;
    color: #153a5b;
    font-size: 1rem;
    line-height: 1.6;
}

.cart-des {
    width: 500px;
    background-color: white;
    height: 100%;
    padding: 1% 2%;
    box-sizing: border-box;
    overflow-y: scroll;
}

.cart-head {
    display: flex;
    justify-content: space-between;
    height: 1.5rem;
    margin: 10px;
}

.cart-off {
    width: 100%;
    display: flex;
    justify-content: center;

}

.cart-off-con {
    display: inline;
    align-items: center;
    justify-content: center;
}

.cart-off-con-spa {
    margin: 10px;
    display: flex;
    justify-content: center;
}

.css-1v5z18m {
    width: 100%;
}

.cart-off-con-spa span {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-obj {
    padding: 1% 1%;
    width: 100%;
    display: flex;
    border-radius: 10px;
    box-shadow: 0px 3px 2px #0000002b;
    box-sizing: border-box;
}

.cart-obj-img {
    width: 23%;
}

.cart-obj-img img {
    width: 100%;
    height: 100%;
}

.cart-obj-des {
    padding-right:2% ;
    display: inline;
    width: 77%;
}

.cart-obj-des h5 {
    color: #153a5b;
    padding: 0%;
    /* margin: 4%; */
    margin: 0%;
    margin-bottom: 1%;
    font-size: large;
}

.tit {
    display: flex;
    justify-content: space-between;
    padding: 2% 0%;
}

.tit-spa {
    display: flex;
    color: grey;
    font-size: small;

    gap: 10px;
}

.bott-row {
    margin-top: 2%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 0%;

}

.inc-dec {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 7px;

}
.inc-dec-btn1{
    display: flex;
    border-radius: 50% 0px 0px 50%;
    padding-left: 0.13333rem;
    align-items: center;
    justify-content: space-around;
    flex-shrink: 0;
    margin: 0px;
    height: 1.86667rem;
    width: 2.13333rem;
    padding: 0px;
    line-height: 1;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(238, 238, 238);
    cursor: pointer;
    transition: border-color 300ms ease-in-out 0ms;
    
}
.inc-dec-btn1:hover{
    border-color: rgb(21, 58, 91);
}
.inc-dec-btn2{
    display: flex;
    border-radius: 0px 50% 50% 0px;
    padding-left: 0.1rem;
    align-items: center;
    justify-content: space-around;
    flex-shrink: 0;
    margin: 0px;
    height: 1.86667rem;
    width: 2.13333rem;
    padding: 0px;
    line-height: 1;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(238, 238, 238);
    cursor: pointer;

}
.inc-dec-btn2:hover{
    border-color: rgb(21, 58, 91);
}
.total {
    margin-top: 8%;
    display: flex;
    justify-content: space-between;
    padding: 2% 05%;
}

.tot-pri {
    width: 20%;
    text-align: right;
    color: rgb(21, 58, 91);
    font-size: 1rem;
    line-height: 1.6;
    font-weight: bold;
    letter-spacing: .75px;

}

.tot-tot {
    width: 80%;
    color: rgb(21, 58, 91);
    font-size: 1rem;
    line-height: 1.6;
    font-weight: bold;
}

.coup-icon {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.coup-icon span {
    transition: all 300ms ease-in-out 0ms;
    text-decoration: underline;
    font-size: 0.86667rem;
    line-height: 1.38;
    text-align: left;
    color: rgb(21, 58, 91);
    cursor: pointer;
    letter-spacing: 0.01em;
    display: flex;
    align-items: center;
}
.coup-icon span:hover{
    text-decoration: none;
}
.chec-btn {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
}

.chec-btn button {
    display: inline-flex;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    position: relative;
    min-width: 100%;
    margin: 0;
    padding: 1.2rem 1rem;
    border-style: solid;
    border-width: 2px;
    border-color: #153a5b;
    border-radius: 0;
    background-color: #153a5b;
    color: #ffffff;
    font-weight: bold;
    font-size: 1rem;
    line-height: 1;
    letter-spacing: .75px;
    text-decoration: none;
    cursor: pointer;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
    transition-delay: 0ms;
    transition-property: color;
    user-select: none;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.chec-btn button:hover {
    color: #153a5b;
    background-color: #ffffff;
    border-color: #153a5b;
}

.container-cart {
    margin-top: 30px;
    display: grid;
    gap: 1em;
}

.empty {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.empty img {
    width: 50%;
}
.ship {
    display: flex;
    justify-content: center;
    color: darkslategrey;
    margin-top: 15px;
    font-size: medium;
}
.cart-btn{
    padding: 2% 2%;
    box-sizing: border-box;
}
.cart-btn svg{
    cursor: pointer;
}